__pycache__/
*.pyc
*.pyo
.env
.venv
.ipynb_checkpoints/
data/processed/*
data/results_python/*
data/results_fortran/*
.vscode/

# Build artifacts
fortran/build/
fortran/bin/
*.o
*.mod

# Data
data/*

fortran/fortran_factors.dat